<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SMS Spam Classifier</title>

    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <style>
        div.prediction-item {
                padding: 5px 50px 5px 50px;
                    }
        table, th, td {
  border: 2px solid black;
  padding:5px 5px 5px 5px;
  margin:5px 5px 5px 5px;
}
    </style>
</head>
<body
    style = "
            display: flex;
            margin: 0;
            padding: 0;
            min-height: 100vh;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            background: #b6f3e4;
            " >

    <h1 style="color: blue;padding: 20px;">IMDB Movie Reviews Sentiment</h1>
    <br>

    <form action="{{ url_for('predict')}}" method="POST">

        <input name="message" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" placeholder="Enter Movie title">

        <br/>

        <button type="submit" class="btn btn-success">Predict</button>
        {%if flag==-1%}
            <h4 style="color:red;">Note Found! <br> Try something else..</h4>
        {%endif%}


        {%if shape%}
        <br/>
        <h3>Enter IMDB-ID from table below</h3>
        <input name="title-id" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" placeholder="Enter IMDB-ID">
        <br/>
        <button type="submit" class="btn btn-success">Predict</button>
        <br>

        <table>
              <tr>
                <th>IMDB-ID</th>
                <th>TITLE</th>
                <th>YEAR of Release</th>
              </tr>
            {%for detail in details %}
              <tr>
                <td>{{detail[0]}}</td>
                <td>{{detail[1].swapcase()}}</td>
                <td>{{detail[2]}}</td>
              </tr>
            {% endfor %}
        </table>
    {%endif%}
    </form>
    {%if title%}
    <div class="title-heading">
        <h3 style="">{{title}}</h3>
        <h4>{{imdb_id}}</h4>
    </div>
    {%endif%}
    <div class="prediction-list">
        <br>
    {% if prediction%}
        {% for i in prediction%}
            <div class="prediction-item">
            {%if i[0]=='1'%}
                <div class="positive review">
                    <p style="background-color:green;color:white;"> {{i[1]}} </p>
                </div>
            {%elif i[0]=='0'%}
                <div class="negative review">
                    <p style="background-color:red;color:white;"> {{i[1]}} </p>
                </div>
            {%endif%}
            </div>
        {% endfor %}
    {% endif %}
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

</body>
</html>